<hr>
<div class="container ">
  <button class="btn btn-warning col-lg-12" (click)="onClick()">Display details</button>
  <p class="col-lg-12" *ngIf="buttonClicked">This is the para which will show and hide, This is the para which will show and hide. This is the para which will show and hide
    This is the para which will show and hide This is the para which will show and hide
  </p>
  <p *ngFor="let click of clicks" [ngStyle]="{'background-color': (click > 4) ? 'blue' : null }" [ngClass]="{'makeItWhite':click>4}">Button is clicked, {{click}} </p>
</div>